:root {
    --text_Primary: #4d4d4d;
    --text_Secondary: #5E5E5E;
}

* {
    font-family: 'Nunito Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header style  start*/

nav {
  width: 100%;
  height: 50px;
  background: rgba(0,0,0, .8);
  border-top: 1px solid rgba(255,255,255, .2);
  border-bottom: 1px solid rgba(255,255,255, .2);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}
nav .left img{
    max-height: 45px;
    margin-left: 20px;
}

nav ul {
  display: flex;
  margin: 0;
  padding-right: 10px;
  justify-content: flex-end;
  
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px; /**  Rarely used! **/
}

nav ul li a:hover,
nav ul li a.active {
  background: #69DF6E;
  
} 
.page-container{
    position: relative;
    min-height: 100vh;
}

.content-wrap{
    padding-bottom: 350px;
}

/* Header style end */
.container {
    width: 100%;
    height: 100%;
    padding: 10px;
    
   
}

.main {
    
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;    
    align-items: flex-start;
    flex-grow: 0;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr ; */
}

.main .card {
    width: 286px;
    height: 295px;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    cursor: pointer; 
}


.main   .card .top {
    height: 55%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.main .card .top img{
    width: 100%;
    height: 100%;
}
.main .card .top .videoNumber {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 27px;
    display: flex;
    color: var(--text_Secondary);
    align-items: center;
    font-weight: 600;
    justify-content: center;
    background: #ECECEC;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 5px 0px;
}
.main .card .top .videoNumber::before{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    content: "#";
    font-weight: 500;
}

.main .card .top .timing {
    position: absolute;
    color: var(--text_Secondary);
    bottom: 0;
    right: 0;
    display: grid;
    font-size: x-small;
    font-weight: 600;
    place-items: center;
    background: #ECECEC;
    border-radius: 10px 0px 10px 0px;
    width: 78px;
    height: 20px;
}

.main .card .middle {
    height: 30%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main .card .middle .title {
    font-size: medium;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--text_Primary);
}

.main .card .middle .description {
    font-size: 14px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    /* white-space: nowrap; */
    color: var(--text_Secondary);
}

.main .card .bottom {
    height: 15%;
    padding: 0% 5%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0 8px;
    justify-content: left;
}

.main .card .bottom button {
    background: #F5F5F5;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    color: var(--text_Secondary);
    padding: 6px 11px;
    min-width: 50px;
    border: none;
}
/* footerr */

.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 350px;
    background-color: #122B41;
}
.footer .left,
.footer .right{
    height: 100%;
    position: relative;
    width: 50%;
}

.footer .left h1{
    font-size: 40px;
    color: #fff;
    top: 20px;
    left: 60px;
    position: absolute;
}
.footer .left img{
    position: absolute;
    bottom:0;

}
.footer .left p{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 340px;
    font-size: larger;
}
.footer .right{
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .right .QRbox{
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.footer .right .QRbox .logo{
    width: 20px;
}
.footer .right .QRbox p{
color:#fff;
text-decoration: none;
}
.footer .right .QRbox p a{
    color:#056ac2;
    text-decoration: none;
}
@media only screen and (max-width: 992px) {
.footer .left p{
    display: none;
}
}
@media only screen and (max-width: 650px) {
    .footer .right{
        gap: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer .right .QRbox .QRcode{
        width: 80px;
    }
    .footer .right .QRbox{
        align-items: center;
        display: flex;
        gap: 2px;
        flex-direction: column;
    }
    
}
@media only screen and (max-width: 480px) {
    .footer .left{
        width: 100%;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
    .footer .right {
        flex-direction: row;
    }
    .footer .left img{
        display: none;
    }
}