*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  overflow: hidden;
}
body{
  background-color: #000;
}
#container{
  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
#container h1{
  color: #fff;
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  animation: colors 7s alternate infinite;
  text-shadow: 5px 5px purple;
}
#container p{
  color: white;
  text-align: center;
  font-size: 3rem;
  animation: colors 7s alternate infinite;
  text-shadow: none !important;
}
@keyframes colors{
  25%{
    color: tomato;
    text-shadow: 5px 5px cyan;
  }
  50%{
    color: cyan;
    text-shadow: 5px 5px crimson;
  }
  75%{
    color: crimson;
    text-shadow: 5px 5px  yellowgreen;
  }
  100%{
    color: yellowgreen;
    text-shadow: 5px 5px tomato;
  }
}