@font-face {
    font-family: "theme-icons";
    src: url("./theme-icons.eot?0d8bf1791af4f3c5418b29c2bfc8d15b?#iefix") format("embedded-opentype"),
url("./theme-icons.woff2?0d8bf1791af4f3c5418b29c2bfc8d15b") format("woff2"),
url("./theme-icons.woff?0d8bf1791af4f3c5418b29c2bfc8d15b") format("woff"),
url("./theme-icons.ttf?0d8bf1791af4f3c5418b29c2bfc8d15b") format("truetype"),
url("./theme-icons.svg?0d8bf1791af4f3c5418b29c2bfc8d15b#theme-icons") format("svg");
    font-display: swap;
}

i[class^="ip-"]:before, i[class*=" ip-"]:before {
    font-family: theme-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ip-404:before {
    content: "\f101";
}
.ip-author:before {
    content: "\f102";
}
.ip-cal-alt:before {
    content: "\f103";
}
.ip-cal:before {
    content: "\f104";
}
.ip-calendar:before {
    content: "\f105";
}
.ip-cart-button:before {
    content: "\f106";
}
.ip-cart-empty:before {
    content: "\f107";
}
.ip-cart:before {
    content: "\f108";
}
.ip-check:before {
    content: "\f109";
}
.ip-close-light:before {
    content: "\f10a";
}
.ip-close:before {
    content: "\f10b";
}
.ip-comment:before {
    content: "\f10c";
}
.ip-decor-left-small:before {
    content: "\f10d";
}
.ip-decor-left:before {
    content: "\f10e";
}
.ip-decor-right-small:before {
    content: "\f10f";
}
.ip-decor-right:before {
    content: "\f110";
}
.ip-decor:before {
    content: "\f111";
}
.ip-depth:before {
    content: "\f112";
}
.ip-dot:before {
    content: "\f113";
}
.ip-double-arrow:before {
    content: "\f114";
}
.ip-down_arrow:before {
    content: "\f115";
}
.ip-download:before {
    content: "\f116";
}
.ip-edit:before {
    content: "\f117";
}
.ip-email:before {
    content: "\f118";
}
.ip-facebook:before {
    content: "\f119";
}
.ip-filter:before {
    content: "\f11a";
}
.ip-flickr:before {
    content: "\f11b";
}
.ip-github:before {
    content: "\f11c";
}
.ip-hand:before {
    content: "\f11d";
}
.ip-hands-free:before {
    content: "\f11e";
}
.ip-icon-list:before {
    content: "\f11f";
}
.ip-image-box:before {
    content: "\f120";
}
.ip-instagram:before {
    content: "\f121";
}
.ip-linkedin:before {
    content: "\f122";
}
.ip-location-pin-2:before {
    content: "\f123";
}
.ip-location:before {
    content: "\f124";
}
.ip-login:before {
    content: "\f125";
}
.ip-map-pin:before {
    content: "\f126";
}
.ip-menu-left:before {
    content: "\f127";
}
.ip-menu-right:before {
    content: "\f128";
}
.ip-menu:before {
    content: "\f129";
}
.ip-ok:before {
    content: "\f12a";
}
.ip-page-header:before {
    content: "\f12b";
}
.ip-pdf:before {
    content: "\f12c";
}
.ip-phone:before {
    content: "\f12d";
}
.ip-pinterest:before {
    content: "\f12e";
}
.ip-plus:before {
    content: "\f12f";
}
.ip-pr-carousel:before {
    content: "\f130";
}
.ip-quote:before {
    content: "\f131";
}
.ip-range:before {
    content: "\f132";
}
.ip-right-arrow:before {
    content: "\f133";
}
.ip-right:before {
    content: "\f134";
}
.ip-search-2:before {
    content: "\f135";
}
.ip-search:before {
    content: "\f136";
}
.ip-select:before {
    content: "\f137";
}
.ip-snapchat:before {
    content: "\f138";
}
.ip-star-empty:before {
    content: "\f139";
}
.ip-star-outline:before {
    content: "\f13a";
}
.ip-star:before {
    content: "\f13b";
}
.ip-steps:before {
    content: "\f13c";
}
.ip-sticky:before {
    content: "\f13d";
}
.ip-telegram:before {
    content: "\f13e";
}
.ip-tick:before {
    content: "\f13f";
}
.ip-tiktok:before {
    content: "\f140";
}
.ip-truck:before {
    content: "\f141";
}
.ip-tumblr:before {
    content: "\f142";
}
.ip-twitter:before {
    content: "\f143";
}
.ip-update:before {
    content: "\f144";
}
.ip-user:before {
    content: "\f145";
}
.ip-vimeo:before {
    content: "\f146";
}
.ip-vk:before {
    content: "\f147";
}
.ip-warning:before {
    content: "\f148";
}
.ip-watch:before {
    content: "\f149";
}
.ip-wc-error:before {
    content: "\f14a";
}
.ip-wc-notice:before {
    content: "\f14b";
}
.ip-wc-success:before {
    content: "\f14c";
}
.ip-whatsapp:before {
    content: "\f14d";
}
.ip-youtube:before {
    content: "\f14e";
}
